@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">

    <h1>@ViewBag.Message</h1>

	<p class="lead"></p>

    <p>En la actualidad, muchas instituciones de asistencia médica, tanto 
    clínicas como hospitales realizan la mayoría de sus procesos referentes 
    a el manejo de información de los pacientes de forma manual y con grandes 
    cantidades de archivos clínicos en forma de boletas o páginas, organizado 
    por secciones y  almacenado en un lugar específico. Esta ha sido la forma 
    clásica de ser manejado, pero esta conlleva a muchos riesgos de seguridad 
    en la información, probabilidad de perdida de archivos y dificultades de 
    consulta de la misma. </p>

    <p>La información clínica de los pacientes corre riesgos, ya sea por sucesos 
    como incendios u otro tipo de situación que comprometa la seguridad de dichos 
    archivos.</p>

</div>
