@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="jumbotron subhead" id="overview">
  <h2>Area de Administraci&oacute;n</h2>
  <p class="lead">A preview of changes in this swatch.</p>
  <div class="subnav">
    <ul class="nav nav-pills">

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="/Departamento">Ver Departamentos</a></li>
          <li><a href="/Departamento/Create">Agregar Departamento</a></li>
          <li><a href="/Departamento">Editar Departamento</a></li>
          <li class="divider"></li>
          <li><a href="/Departamento">Eliminar Departamento</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Municipio</a>
        <ul class="dropdown-menu">
          <li><a href="/Municipio">Ver Municipio</a></li>
          <li><a href="/Municipio/Create">Agregar Municipio</a></li>
          <li><a href="Municipio">Editar Municipio</a></li>
          <li class="divider"></li>
          <li><a href="/Municipio">Eliminar Municipio</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Persona</a>
        <ul class="dropdown-menu">
          <li><a href="/Persona">Ver Personas</a></li>
          <li><a href="/Persona/Create">Agregar Persona</a></li>
          <li><a href="/Persona">Editar Persona</a></li>
          <li class="divider"></li>
          <li><a href="/Persona">Eliminar Persona</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

    </ul>
  </div>

</header>


<header class="jumbotron subhead" id="overview">

  <div class="subnav">
    <ul class="nav nav-pills">

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Persona</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

      <!-- Menu -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamento</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
         </ul>
      </li>

    </ul>
  </div>
</header>